# ─── Django ───────────────────────────────────────────────────────────────────
DJANGO_ENV=dev
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com

# ─── Google OAuth ─────────────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=change-me

# ─── PostgreSQL ───────────────────────────────────────────────────────────────
POSTGRES_DB=ipbcb
POSTGRES_USER=ipbcb
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=ipbcb_db
POSTGRES_PORT=5432
